/* this is where we use any custom CSS not included with Foundation */
:root {
    --darkBlueGrey: rgb(72, 129, 147);
    --lightBlueGrey: rgb(240, 252, 255);
    --blueGrey: rgb(108, 154, 168);
    --yellow: rgb(255, 255, 183);
}

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--lightBlueGrey);
    background-color: var(--darkBlueGrey);
    /* font-family: 'Ubuntu', sans-serif; */
}

.title-bar,
.title-bar-title,
.title-bar-left,
.title-bar-right,
.menu-icon {
    background-color: black;
}

.title-bar {
    padding: 20px;
}

.title-bar-title {
    padding-left: 10px;
}

.heroImg {
    width: 100%;
}

.welcomeBox {
    padding: 65px 35px 65px 35px;
}

.powerUp {
    background-color: var(--yellow);
    color: var(--darkBlueGrey);
    font-weight: bold;
    border-radius: 10px;
}

.infoCards {
    padding: 20px;
}

.card1,
.card2 {
    background-color: var(--blueGrey);
    /* border: 2px solid var(--blueGrey); */
    padding: 20px;
}

.card1,
.card2,
.card1-text,
.card2-text {
    background-color: var(--blueGrey);
}

.card1 {
    border-radius: 0 80px 80px 0;
}

.card2 {
    border-radius: 80px 0 0 80px;
}

.img1,
.img2 {
    border-radius: 10px;
}

/* .card1,
.card2 {
    padding: 20px;
} */
.grid-x {
  justify-content: flex-start;
}

.grid-x.grid-margin-x {
  flex-direction: column;
}



footer {
    padding: 60px 20px 20px 20px;
}