:root {
    --darkGrey: rgb(112, 118, 119);
    --lightGrey: rgb(201, 209, 217);
    --blueGrey: rgb(108, 154, 168);
    --teal: rgb(8, 130, 139);
    --darkTeal: rgb(2, 84, 94);
    --alert: rgb(255, 0, 98);
}

* {
    font-family: 'Ubuntu', sans-serif !important;
    list-style-type: none;
}

ul {
    margin-left: 0;
}

/* index.html styling */
.title-bar {
    padding: 20px;
}

.title-bar-title {
    padding-left: 10px;
}

#extras {
    color: white;
    font-weight: bold;
}

.heroImg {
    width: 100%;
}

.welcomeBox {
    padding: 65px 35px 65px 35px;
}

.welcome {
    font-weight: bold;
}

.p3,
.title {
    font-weight: bold;
}

.powerUp {
    font-weight: bold;
    border: 3px solid var(--blueGrey);
    border-radius: 10px;
    background-color: var(--teal);
    box-shadow: 7px 7px 15px var(--darkGrey);
}

.infoCards {
    padding: 20px;
}

.card1,
.card2 {
    border-top: 7px solid var(--lightGrey);
    border-radius: 65px;
    padding: 20px;
}

.img1,
.img2 {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

footer {
    background-color: black;
    color: var(--lightGrey);
    padding: 20px 20px 20px 20px;
    margin-top: 70px;
}

#userInputBtn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
  }

/* search.html styling */
.backBtn,
#userInputBtn,
#favBtn,
.mapBtn,
.delete-button,
.go-button {
    font-weight: bold;
    border: 3px solid var(--blueGrey);
    border-radius: 10px;
    background-color: var(--teal);
}

.alertArea {
    font-weight: bold;
    color: var(--alert);
}

.backBtn { 
    font-weight: bold;
    border: 3px solid var(--blueGrey);
    border-radius: 10px;
    background-color: var(--teal);
    margin: 10px 10px 0 0;
    width: auto;
    display: inline-block;
}

.searchForm,
.favorites {
    background-color: var(--lightGrey);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--darkGrey);
    margin: 15px 0 15px 0;
    text-align: center;
}

.gridBox {
    margin: 15px;
}

.searchBox {
    height: 50%;
}

.resultsBox {
    height: 100%;
    width: auto;
    margin-top: 25px;
    text-align: center;
}

.stationListItem {
    background-color: var(--teal);
    color: white;
    border: 3px solid var(--blueGrey);
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 5px;

}

/* map styling */
#map {
    height: 500px;
    width: 500px;
}

#boxContainer {
    height: 100%;
}